*{
    margin: 0;
    padding: 0;
}

li{
    cursor: pointer;
    border: 2px dotted blue;
    margin: 0 2px;
    list-style: none;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}